# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-export-temp/
.expo-export-temp-2/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
.gradle-home/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
.tmp/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
*.out.log
*.err.log

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# local tooling
.npm-cache/
.yarn-cache/
.vscode/

# non-app workspaces
/backend/
/web/
